th {
    box-shadow: -3px 0px 3px 0px rgba(0, 0, 0, 0.27);
    text-transform: uppercase;
    font-family: 'Arimo';
    color:  #484848;
    padding: 20px;
}
tr:nth-child(n+3):nth-child(even) {
    background-color:  #e3e3e3;
}
tr:nth-child(n+3):nth-child(odd) {
    background-color:  #f2f2f2;
}
.title {
    vertical-align: middle;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}
.table {
    border: 20px solid rgb(55, 71, 101);
    margin: 0 auto;
    width: 1192px;
    height: 715px;
}
.plan {
    font-size: 30px;
}
.green {
    background-color: #89c331;
    color: white;
    font-weight: 700;
    font-size: 24px;
    height: 70px;
}
.red {
    background-color: #f04a56;
    color: white;
    font-weight: 700;
    font-size: 24px;
    height: 70px;
}
.blue {
    background-color: #20807c;
    color: white;
    font-weight: 700;
    font-size: 24px;
    height: 70px;
}
.icon {
    font-size: 60px;
    font-weight: 700;
}
.index {
    vertical-align: super;
    font-size: 24px;
}
.fas {
    color: #848484;
    margin-right: 10px;
    font-size: 24px;
}
.button {
    width: 180px;
    height: 49px;
    border-radius: 5px;
    display: inline-block;
    background-color:  #89c331;
    color: white;
    font-weight: 700;
    padding: 15px;
}
.button_black {
    background-color: #484848;
}
.button:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: rgb(62, 124, 0);
}
.button_black:hover {
    background-color: rgb(176,176,176) ;
    color: black;
}
.button.red_color {
    background-color: #f04a56;
}
.button.red_color:hover {
    background-color: coral;
}
.button.blue_color {
    background-color: #20807c;
}
.button.blue_color:hover {
    background-color: mediumaquamarine;
}




